<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css"></head>
<body>
    <p class="hello">index.eddkkkjs</p>
    <img src="/assets/images/icon.png">
  <script type="text/javascript" src="/assets/app.bundle.js"></script>
</body>
</html>
